.button {
    background-color: #333; /*Same color as header*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.label{
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-family: Arial;
}

h1.punchline { background: #f2f2f2; color: #ff4a4a; }